<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Question:</h5>
    <p class="card-text"><%= @current_question.content %></p>

    <% if @current_question.image.attached? %>
      <%= image_tag @current_question.image, class: "img-fluid mb-3" %>
    <% end %>

    <% 1.upto(4) do |answer_index| %>
      <% selected_answer = @submission.user_answers[@current_question.id.to_s].to_i %>
      <div class="form-check">
        <% if answer_index == @current_question.correct_answer %>
          <div class="alert alert-success">
            <strong>Correct answer: </strong> <%= @current_question.send("answer#{answer_index}") %>
          </div>
        <% elsif answer_index == selected_answer %>
          <div class="alert alert-danger">
            <strong>Your answer (incorrect): </strong> <%= @current_question.send("answer#{answer_index}") %>
          </div>
        <% else %>
          <div class="alert alert-secondary">
            <%= @current_question.send("answer#{answer_index}") %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<%# <%= link_to "Next Question", next_question_path %> %>


<% if current_user.admin? %>
  <div>
    <%= link_to "Edit this quiz", edit_quiz_path(@quiz) %> |
    <%= link_to "Back to quizzes", quizzes_path %>
    <%= button_to "Destroy this quiz", @quiz, method: :delete %>
  </div>
<% end %>
