<%= simple_form_for(quiz, data: {
  controller: "nested-form",
  nested_form_wrapper_selector_value: ".nested-form-wrapper"
}) do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :title, label: "Title for your quiz", wrapper_html: { class: "mb-3" } %>

  <template data-nested-form-target="template">
    <%= f.simple_fields_for :questions, Question.new, child_index: "NEW_RECORD" do |question_fields| %>
      <%= render "question_fields", f: question_fields %>
    <% end %>
  </template>

  <%= f.simple_fields_for :questions do |question_fields| %>
    <%= render "question_fields", f: question_fields %>
  <% end %>

  <div data-nested-form-target="target"></div>
  <button type="button" data-action="nested-form#add">Add Question</button>

  <div class="mt-4 actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
