<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <div class="card mb-4">
    <div class="card-body">

      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <%= f.input :content, label: "Question", as: :text, wrapper_html: { class: "mb-3" } %>
      <%= f.input :image, as: :file, wrapper_html: { class: "mb-3" } %>

      <% 1.upto(4) do |answer_index| %>
        <%= f.input "answer#{answer_index}", label: "Answer #{answer_index}", wrapper_html: { class: "mb-3" } %>
      <% end %>

      <%= f.input :correct_answer, collection: (1..4).to_a, selected: 1, wrapper_html: { class: "mb-3" } %>

      <button type="button" data-action="nested-form#remove">Remove Question</button>
      <%= f.hidden_field :_destroy %>

    </div>
  </div>
</div>
