<h1 mb-4>Quizzes</h1>

<div id="quizzes" class="row">
  <% @quizzes.each do |quiz| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <%= render quiz %>

          <% submission = @submissions[quiz.id] %>
          <% if submission&.completed? %>
            <h6 class="text-success">You have completed this quiz!</h6>
            <p class="mb-3">Your score: <%= @percentage_scores[quiz.id].to_i %>% correct</p>
            <%= link_to "Review", quiz, class: "btn btn-secondary btn-block" %>
          <% else %>
          <h6 class="text-secondary">You haven't started this quiz! <span class=" text-white bg-warning badge badge-primary">New</span></h6>
            <p class="mb-3">Your score: 0% </p>
            <%= link_to "Start", quiz, class: "btn btn-primary btn-block" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="mt-4">
  <%= link_to "Back to Home", root_path, class: "btn btn-secondary btn-sm" %>
</div>
