<div class="d-flex justify-content-center">
  <div class="col-lg-6 col-md-8 col-sm-10">
    <% unless @current_question.nil? %>
      <%= form_with(url: quiz_submissions_path(@quiz, question_id: @current_question.id), local: true, method: :post, data: { controller: "answer-check" }) do |form| %>
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Question:</h5>
            <p class="card-text"><%= @current_question.content %></p>
            <% if @current_question.image.attached? %>
              <%= image_tag @current_question.image, class: "img-fluid mb-3" %>
            <% end %>

            <% 1.upto(4) do |answer_index| %>
              <div class="form-check">
                <%= form.radio_button "question_#{@current_question.id}", answer_index, class: "form-check-input", data: { answer_check_target: "answer", action: "click->answer-check#checkAnswers" } %>
                <%= form.label "question_#{@current_question.id}_#{answer_index}", @current_question.send("answer#{answer_index}"), class: "form-check-label" %>
              </div>
            <% end %>

            <div class="text-center mt-3">
              <%= form.submit "Submit Answer", class: "btn btn-primary", data: { answer_check_target: "submit" } %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>There are no questions for this quiz.</p>
    <% end %>

    <div class="text-center mb-3">
      <%= link_to "Back to quizzes", quizzes_path, class: "btn btn-secondary btn-sm" %>
    </div>

    <% if current_user.admin? %>
      <div class="text-center">
        <%= link_to "Edit this quiz", edit_quiz_path(@quiz) %> |
        <%= link_to "Back to quizzes", quizzes_path %> |
        <%= button_to "Destroy this quiz", @quiz, method: :delete, class: "btn btn-danger btn-sm" %>
      </div>
    <% end %>
  </div>
</div>
