<h1>Welcome, <%= current_user.name %></h1>
<br>
<%= link_to "Go to Quizzes", quizzes_path, class: "btn btn-primary btn-lg" %>


<% if !current_user.admin? %>
  <div>
  <br>
    <h4>Your daily goals - updated every 5 minutes</h4>
    <% @goals.each do |goal| %>
      <div>
        <strong><%= goal.title %></strong>
        <p><%= goal.description %></p>
      </div>
    <% end %>
  </div>
<% end %>

<br>

<% if current_user.admin? %>
<br>
  <div>
    <%= link_to 'Track User Quizzes', track_users_quizzes_path, class: "btn btn-secondary" %>
  </div>
  <br>
  <div>
    <%= link_to 'Create new Quiz', new_quiz_path, class: "btn btn-info" %>
  </div>
  <br>
  <div>
    <%= link_to 'Create new Goal', new_goal_path, class: "btn btn-success" %>
  </div>
    <br>
  <div>
    <%= link_to 'See all Goals', goals_path, class: "btn btn-primary" %>
  </div>
<% end %>
