<h4>Review your answer</h4>
<p><%=@question.content %></p>
 </h2>
  <div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%= @percentage_score%>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
<div class="card mb-4">
  <div class="card-body">
<% 1.upto(4) do |answer_index| %>
        <% selected_answer = @submission.user_answers[@question.id.to_s].to_i %>
        <div class="form-check">
          <% if answer_index == @question.correct_answer %>
            <div class="alert alert-success">
              <strong>Correct answer: </strong> <%= @question.send("answer#{answer_index}") %>
            </div>
          <% elsif answer_index == selected_answer %>
            <div class="alert alert-danger">
              <strong>Your incorrect answer: </strong> <%= @question.send("answer#{answer_index}") %>
            </div>
          <% else %>
            <div class="alert alert-secondary">
              <%= @question.send("answer#{answer_index}") %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
<div class="text-center">
  <%= link_to "Proceed to Next Question", quiz_path(@submission.quiz, current_question_id: @next_question_id), class: "btn btn-primary" %>
</div>
